/*--------------------SELECCION DE FUENTE DE GOOGLE FONTS--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-image: url(../Assets/Banner/banner.png);
    font-family: 'Oswald', sans-serif;
    background-size: cover;
    background-position: center;
}

/*--------------------ENCABEZADO--------------------*/


header nav {
    display: flex;
    justify-content: space-between
}

header nav img {
    width: 150px;
    margin: 5px;
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: rgb(223, 159, 77) solid 1px;
}

nav ul {
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 20px;
}

nav ul li {
    border-radius: 15px;
    background-color: rgb(51, 45, 45);
    margin: 40px;
    padding: 10px;
    border: rgb(223, 159, 77) solid 2px;
    display: inline-block;
    list-style-type: none;
    text-align:center;
    text-decoration: none;
    color: white;
}


nav ul li a {
    color: white;
    text-decoration: none;
}

/*--------------------PRINCIPAL--------------------*/

section div {
    background-color: rgba(223, 160, 77, 0.5);
    display: flex;
    flex-direction: column;
}


.tituloPrincipal { 
    font-size: 80px;
    text-align: center;
    color: rgb(10, 8, 8);
}

.bienvenidos {
    font-size: 60px;
    text-align: center;
    color: rgb(10, 9, 9);
}

/*--------------------PIE DE PAGINA--------------------*/

footer h3 {
    border: solid 1px rgb(223, 159, 77);
    border-radius: 15px;
    padding: 5px;
    margin-top: 15px;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.534);
    font-weight: 200;
    color: rgb(223, 159, 77);
}

footer a img {
    padding: 2px;
    margin: 5px;
    width: 40px;
}

/*------------------GRID PAGE PRODUCTOS-----------------*/

.catalogo{
    background-color: rgb(223, 159, 77);
    padding: 3px;
    padding-left: 10px;
    margin-top: 50px;
    color: black;
    font-size: 44px;
    text-align: center;
}

.grid-container {
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 6mati00px;
    gap: 20px;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.58);
}


.grid-item h2 {
    position: absolute;
    bottom: 0;
    padding: 5px 0 5px 15px;
    color: #f7ede1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

/* ------ MEDIA QUERY BURGERS------ */

/*--------------------ENCABEZADO--------------------*/


@media screen and (max-width:1080px) {
    header nav {
        flex-direction: column;
        align-items: center;
    }
    
    header nav img {
        width: 150px;
        margin: 5px;
    }
    
    nav {
        background-color: rgba(0, 0, 0, 0.5);
        border-bottom: rgb(223, 159, 77) solid 1px;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
        padding-top: 20px;
    }
    
    nav ul li {
        border-radius: 15px;
        background-color: rgb(51, 45, 45);
        margin: 40px;
        padding: 10px;
        border: rgb(223, 159, 77) solid 2px;
        display: flex;
        list-style-type: none;
        text-align:center;
        text-decoration: none;
        color: white;
    }
    
    
    nav ul li a {
        color: white;
        text-decoration: none;
    }

    .grid-container {
        grid-template-columns: 2fr;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width:903px){
    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li{
        margin: 2px;   
        align-items: center;
    }

}

